body {
    background-color: #cccccc;
    background-image: url("https://www.oklahomajoes.com/media/catalog/category/15202029_okj_longhorn-combo-lifestyle_103_1.jpg");
    background-size: cover;
}

h1 {
    font-size: 100px;
    font: Arial;
    font-style: italic;
    color: orange;
    background-color: black;
    text-align: center;
}

div {
    text-align: right;
    font-size: 20px;
}

h2 {
    font-size: 50px;
    color: orange
}

p {
    font-size: 30px;
    color:orangered;
}

ul {
    font-size: 30px;
    color: orangered;
}